<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-navbar></app-navbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Vendas</h1>
                <p class="mb-4">Cadastro de Vendas</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a href="#" data-toggle="modal" data-target="#cadastrarVendaModal"
                            class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Nova Venda</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Cliente</th>
                                        <th>Usuário (que registrou)</th>
                                        <th>Produto</th>
                                        <th>Valor Total</th>
                                        <th>Descrição</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let venda of vendas">
                                        <td>{{venda.data}}</td>
                                        <td>{{venda.cliente}}</td>
                                        <td>{{venda.usuario}}</td>
                                        <td>{{venda.produto}}</td>
                                        <td>{{venda.valor}}</td>
                                        <td>{{venda.descricao}}</td>
                                        <td>
                                            <div>
                                                <a href="#" class="btn btn-warning btn-circle btn-sm"
                                                    data-toggle="modal" data-target="#editarVendaModal"
                                                    (click)="selecionarVenda(venda)">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-circle btn-sm ml-1"
                                                    data-toggle="modal" data-target="#excluirVendaModal"
                                                    (click)="selecionarVenda(venda)">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="cadastrarVendaModal" tabindex="-1" role="dialog" aria-labelledby="cadastrarVendaModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Venda</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-3" [formGroup]="formInclusaoVenda"
                (ngSubmit)="onSubmitCreate()">
                    <div class="mt-3">
                        <label for="data" class="font-weight-bold">Data</label>
                        <input type="date" id="data" class="form-control" placeholder="XX/XX/XXXX" name="data" 
                        formControlName="data"
                        required
                            autofocus>
                    </div>
                    <div class="mt-3">
                        <label for="inputCliente" class="font-weight-bold">Cliente</label>
                        <select name="inputCliente" class="form-control" id="selectCliente"
                            formControlName="idCliente">
                            <option disabled selected value="-1">Selecione um cliente</option>
                            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="inputUsuario" class="font-weight-bold">Vendedor</label>
                        <select name="inputCliente" class="form-control" id="selectVendedor"
                            formControlName="idUsuario">
                            <option disabled selected value="-1">Selecione um vendedor</option>
                            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="inputProduto" class="font-weight-bold">Produto</label>
                        <select name="inputProduto" class="form-control" id="idProduto">
                            <option disabled selected value="-1">Selecione um produto</option>
                            <option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}
                            </option>
                        </select>
                    </div>
                    
                    <div class="mt-3">
                        <label for="qtdVenda" class="font-weight-bold">Quantidade</label>
                        <input class="form-control" type="number" id="qtdVenda" name="qtdVenda">
                    </div>
                    <ng-container *ngIf="movVendasCreate.length > 0">
                        <div class="mt-3 w-100 flex-column overflow-auto" id="listaProdutos">
                            <div *ngFor="let movVenda of movVendasCreate; index as i;" class="d-flex align-center justify-content-between w-100">
                                <div ><b>Produto: </b> {{movVenda.nomeProduto}} - <b>Quantidade: </b> {{movVenda.quantidade}}</div>
                                <div style="cursor: pointer;" (click)="removerProdutoCreate(i)">x</div>
                            </div>
                            
                        </div>
                   </ng-container>
                    
                    <div class="mt-3">
                        <div class="mt-3">
                            <button id="addVenda" class="btn btn-secondary" type="button"
                            (click)="adicionarProdutoCreate()">Adicionar Produto</button>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="preco" class="font-weight-bold">Valor Venda</label>
                        <input id="preco" class="form-control" placeholder="R$100,00" name="celular" required 
                        formControlName="valor"
                        autofocus>
                    </div>
                    <div class="mt-3">
                        <label for="descricao" class="font-weight-bold">Descrição</label>
                        <textarea id="password" name="descricao" class="form-control" placeholder="Descrição"
                        formControlName="descricao"
                            required></textarea>
                    </div>
                    <div class="d-flex d-flex align-items-center justify-content-end w-100 mt-2">
                        <button class="btn btn-secondary mr-1" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarVendaModal" tabindex="-1" role="dialog" aria-labelledby="editarVendaModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Venda</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-3" [formGroup]="formEdicaoVenda"
                (ngSubmit)="onSubmitEdit()">
                    <div class="mt-3">
                        <label for="data" class="font-weight-bold">Data</label>
                        <input type="date" id="data" class="form-control" placeholder="XX/XX/XXXX" name="data" 
                        formControlName="data"
                        required
                            autofocus
                            [value]="vendaSelecionada?.data">
                    </div>
                    <div class="mt-3">
                        <label for="inputCliente" class="font-weight-bold">Cliente</label>
                        <select name="inputCliente" class="form-control" id="selectCliente"
                            formControlName="idCliente">
                            <option disabled selected value="-1">Selecione um cliente</option>
                            <option *ngFor="let cliente of clientes" [value]="cliente.id"
                            [selected]="cliente.id==vendaSelecionada?.idCliente">{{cliente.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="inputUsuario" class="font-weight-bold">Vendedor</label>
                        <select name="inputCliente" class="form-control" id="selectVendedor"
                            formControlName="idUsuario">
                            <option disabled selected value="-1">Selecione um vendedor</option>
                            <option *ngFor="let usuario of usuarios" [value]="usuario.id"
                            [selected]="usuario.id==vendaSelecionada?.idUsuario">{{usuario.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label for="inputProduto" class="font-weight-bold">Produto</label>
                        <select name="inputProduto" class="form-control" id="idProdutoEdit">
                            <option disabled selected value="-1">Selecione um produto</option>
                            <option *ngFor="let produto of produtos" [value]="produto.id"
                            [selected]="produto.id==vendaSelecionada?.idProduto">{{produto.nome}}
                            </option>
                        </select>
                    </div>
                    
                    <div class="mt-3">
                        <label for="qtdVenda" class="font-weight-bold">Quantidade</label>
                        <input class="form-control" type="number" id="qtdVenda" name="qtdVendaEdit">
                    </div>
                    <ng-container *ngIf="movVendasEdit.length > 0">
                        <div class="mt-3 w-100 flex-column overflow-auto" id="listaProdutos">
                            <div *ngFor="let movVenda of movVendasEdit; index as i;" class="d-flex align-center justify-content-between w-100">
                                <div ><b>Produto: </b> {{movVenda.nomeProduto}} - <b>Quantidade: </b> {{movVenda.quantidadeProduto}}</div>
                                <div style="cursor: pointer;" (click)="removerProdutoEdit(i)">x</div>
                            </div>
                            
                        </div>
                   </ng-container>
                    
                    <div class="mt-3">
                        <div class="mt-3">
                            <button id="addVenda" class="btn btn-secondary" type="button"
                            (click)="adicionarProdutoEdit()">Adicionar Produto</button>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="preco" class="font-weight-bold">Valor Venda</label>
                        <input id="preco" class="form-control" placeholder="R$100,00" name="celular" required 
                        formControlName="valor"
                        autofocus
                        [value]="vendaSelecionada?.valor">
                    </div>
                    <div class="mt-3">
                        <label for="descricao" class="font-weight-bold">Descrição</label>
                        <textarea id="password" name="descricao" class="form-control" placeholder="Descrição"
                        formControlName="descricao"
                            required
                            [value]="vendaSelecionada?.descricao">
                        </textarea>
                    </div>
                    <div class="d-flex d-flex align-items-center justify-content-end w-100 mt-2">
                        <button class="btn btn-secondary mr-1" type="button" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="excluirVendaModal" tabindex="-1" role="dialog" aria-labelledby="excluirVendaModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Venda</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Você têm certeza que deseja excluir essa Venda?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger" (click)="excluirVenda()">Excluir</button>
            </div>
        </div>
    </div>
</div>