<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-navbar></app-navbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
                <p class="mb-4">Cadastro de Usuários</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a href="#" data-toggle="modal" data-target="#cadastrarUsuarioModal"
                            class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Novo Usuário</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Celular</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios">
                                        <td>{{usuario.nome}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td>{{usuario.celular}}</td>
                                        <td>
                                            <div>
                                                <a href="#" class="btn btn-warning btn-circle btn-sm"
                                                    data-toggle="modal" data-target="#editarUsuarioModal"
                                                    (click)="selecionarUsuario(usuario)">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger btn-circle btn-sm ml-1" data-toggle="modal"
                                                    data-target="#excluirUsuarioModal" (click)="selecionarUsuario(usuario)">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Controle de Estoque 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="cadastrarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="cadastrarUsuarioModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Usuário</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="formInclusaoUsuario" (ngSubmit)="onSubmitCreate()">
                <div class="modal-body">
                    <div class="m-3">
                        <div class="mt-3">
                            <label for="nome" class="font-weight-bold">Nome</label>
                            <input id="nome" class="form-control" placeholder="Nome" name="nome" required 
                            autofocus formControlName="nome">
                        </div>
                        <div class="mt-3">
                            <label for="inputEmail" class="font-weight-bold">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email" name="email"
                                required autofocus formControlName="email">
                        </div>
                        <div class="mt-3">
                            <label for="celular" class="font-weight-bold">Celular</label>
                            <input id="celular" class="form-control" placeholder="Celular" name="celular" required
                                autofocus formControlName="celular">
                        </div>
                        <div class="mt-3">
                            <label for="password" class="font-weight-bold">Senha</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Senha" required formControlName="senha">
                        </div>
                        <div class="d-flex d-flex align-items-center justify-content-center w-100 mt-2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuário</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="formEdicaoUsuario" (ngSubmit)="onSubmitEdit()">
                <div class="modal-body">
                    <div class="m-3">
                        <div class="mt-3">
                            <label for="nome" class="font-weight-bold">Nome</label>
                            <input id="nome" class="form-control" placeholder="Nome" name="nome" required autofocus
                                formControlName="nome" [value]="usuarioSelecionado?.nome">
                        </div>
                        <div class="mt-3">
                            <label for="email" class="font-weight-bold">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email" name="email"
                                required autofocus formControlName="email"  [value]="usuarioSelecionado?.email">
                        </div>
                        <div class="mt-3">
                            <label for="celular" class="font-weight-bold">Celular</label>
                            <input id="celular" class="form-control" placeholder="Celular" name="celular" required
                            autofocus formControlName="celular" [value]="usuarioSelecionado?.celular">
                        </div>
                        <div class="mt-3">
                            <label for="senha" class="font-weight-bold">Senha</label>
                            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha"
                                required autofocus formControlName="senha">
                        </div>
                        <div class="d-flex d-flex align-items-center justify-content-center w-100 mt-2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="excluirUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="excluirUsuarioModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Você têm certeza que deseja excluir o Usuário <b>Teste</b>?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-danger" type="button" (click)="excluirUsuario()">Excluir</button>
            </div>
        </div>
    </div>
</div>